@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 12px;
}

header{
    font-family: 'Roboto', sans-serif;
    height: 100px;
    background-color: #F0A83E;
    font-size: 1rem;  
     
}

.topo{
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: 24px;
    background-color: #222222;
    padding-left: 10%;
    padding-right: 10%;
}

.topo ul{
    gap: 25px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.topo img{
    height: 10px;
    width: 10px;
    cursor: pointer;
    }

.header2{
    color:white;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    }

.header2 ul{
    gap: 25px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}

.header2 ul img{
    height: 10px;
    width: 10px;
    cursor: pointer;
}




